<p id="notice"><%= notice %></p>


<a href="<%= subs_url %>">Back to All Subs</a>
<br>

<a href="<%= edit_sub_url(@sub) %>">Edit Sub</a>
<br>
<a href="<%= new_sub_post_url(@sub) %>">Create New Post</a>
<br>
<br>
<%= @sub.title %>
<br>
<%= @sub.description %>
<br>

<ul>
    <% @sub.posts.each do |post| %>
        <br>
        <br>
        <li>Title: <%= post.title %></li>
        <li>Content: <%= post.content %></li>
        <li><a href="<%= post_url(post) %>">Link to Post</a></li>
        <li><a href="<%= edit_post_url(post) %>">Edit Post</a></li>
    <% end %>
</ul>
